 

<style>
  
</style>

<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img
    width="40"
    alt="Angular Logo"
    src="/assets/booklogo.jpg"
  />
  <span>Welcome to online bookstore</span>
    <div class="spacer"></div>
  
</div>

<div class="content" role="main">

  <!-- Highlight Card -->
  <div class=" ">

  

    <span> <img
      width="200"
      alt="Angular Logo"
      src="/assets/booklogo.jpg"
    /></span>

    

  </div>

  <p>Where you can add search create and add new books to your catalogue</p>

  <div class="card-container">
    <a class="card"  routerLinkActive="active-link" routerLink="/home">
      
      <span>Home</span>

     </a>

    <a class="card" routerLinkActive="active-link"   routerLink="/site-map">
      

      <span>Site Map</span>
  </a>

    <a class="card" routerLinkActive="active-link"  routerLink="/catalogue-search">
      
      <span>Search Catalogue</span>

     
    </a>
    <a class="card" routerLinkActive="active-link"  routerLink="/maintanance-catalogue">
      
      <span>Maintenance </span>

     
    </a>
   

  </div>

  <!-- Next Steps -->


  <div class="card-container">
   
     <router-outlet></router-outlet>
  </div>

  

  <!-- Footer -->
  <footer>
    
      <a href="#" >
         
      </a>
  </footer>

  
</div>




